<!doctype html>
<html>
    <head>
    <title>raflsafe</title>
        <meta name="description" content="raflsafe">
        <meta name="keywords" content="fuck search engines, robot.txt ftw">
        <meta name="author" content="rafl">
    </head>
    <body>
        <div>
            raflsafe:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><span style="color: blue;">{{ message }}</span></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
